{{template "header"}}
<!--内容区域-->
<div class="tpl-content-wrapper">

    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 锐派 <small>Replays UI</small></div>
                <p class="page-header-description">Replays.net 锐派游戏</p>
            </div>
            <div class="am-u-lg-3 tpl-index-settings-button">
                <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
            </div>
        </div>

    </div>

    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> Docker </div>

            </div>

        </div>

    </div>

    <div class="row-content am-cf">

        <div class="row am-cf">

            <div class="am-u-sm-12 am-u-md-2">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">Docker Server</div>
                        <div class="widget-function am-fr">
                            <a href="/admin/docker.html" class="am-icon-cog">删除</a>
                        </div>
                    </div>
                    <div class="widget-body widget-body-md am-fr">

                        <form class="am-form tpl-form-border-form" method="POST">
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-12 am-form-label am-text-left">服务器IP <span class="tpl-form-line-small-title">Title</span></label>
                                <div class="am-u-sm-12">
                                    <input type="text" class="tpl-form-input am-margin-top-xs" id="user-name" placeholder="请输入IP+端口" name="ip">
                                    <small>请输入目标服务器IP地址</small>
                                    <input type="text" class="tpl-form-input am-margin-top-xs" id="docker-name" placeholder="请输入DockerName" name="dockername">
                                    <input type="hidden" class="tpl-form-input am-margin-top-xs" value="add" name="op">
                                    <small>请输入DockerServerName</small>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <div class="am-u-sm-12 am-u-sm-push-12">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">添加</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            {{range .DockerHost}}
            <div class="am-u-sm-12 am-u-md-3">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">Docker Server</div>
                        <div class="widget-function am-fr">
                            <a href="/admin/docker.html?op=del&ip={{.Ip}}" class="am-icon-cog">删除</a>
                        </div>
                    </div>


                    <div class="widget-body widget-body-md am-fr">
                        <div class="widget-function am-fr">
                            <a href="/admin/dockerhostinfo.html">详细信息</a>
                        </div>
                        {{.Ip}}
                        {{.ServerName}}

                        <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
                        <div class="am-progress">
                            <div class="am-progress-bar" style="width: 15%"></div>
                        </div>
                        <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">38% / 100%</span></div>
                        <div class="am-progress">
                            <div class="am-progress-bar  am-progress-bar-warning" style="width: 75%"></div>
                        </div>
                        <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">58% / 100%</span></div>
                        <div class="am-progress">
                            <div class="am-progress-bar am-progress-bar-danger" style="width: 55%"></div>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        <script src="../static/assets/js/amazeui.min.js"></script>
        <script src="../static/assets/js/amazeui.datatables.min.js"></script>
        <script src="../static/assets/js/dataTables.responsive.min.js"></script>
        <script src="../static/assets/js/app.js"></script>

        </body>

        </html>