{{template "header"}}

<!--内容区域-->
<div class="tpl-content-wrapper">

    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 锐派 <small>Replays UI</small></div>
                <p class="page-header-description">Replays.net 锐派游戏</p>
            </div>
            <div class="am-u-lg-3 tpl-index-settings-button">
                <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
            </div>
        </div>

    </div>

    <div class="row-content am-cf">


        <div class="row">

            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">


                        <div class="row">

                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <div class="widget am-cf">
                                    <div class="widget-head am-cf">
                                        <div class="widget-title am-fl">DockerHost Info</div>
                                        <div class="widget-function am-fr">
                                            <a href="javascript:;" class="am-icon-cog"></a>
                                        </div>
                                    </div>
                                    <div class="widget-body am-fr">

                                        <form class="am-form tpl-form-border-form" method="POST">
                                            <div class="am-form-group">
                                                <label for="user-name" class="am-u-sm-12 am-form-label am-text-left">服务器IP <span class="tpl-form-line-small-title">Title</span></label>
                                                <div class="am-u-sm-12">
                                                    <input type="text" class="tpl-form-input am-margin-top-xs" id="user-name" placeholder="请输入IP地址" name="minionkey">
                                                    <input type="hidden" class="tpl-form-input am-margin-top-xs" value="add" name="op">
                                                    <small>请输入目标服务器IP地址</small>
                                                </div>
                                            </div>

                                            <div class="am-u-sm-12">
                                                <div class="am-u-sm-12 am-u-sm-push-12">
                                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">添加</button>
                                                </div>
                                            </div>

                                        </form>

                                        <div data-am-widget="tabs"
                                             class="am-tabs am-tabs-d2">
                                            <ul class="am-tabs-nav am-cf">
                                                <li class="am-active"><a href="[data-tab-panel-0]">Containers</a></li>
                                                <li class=""><a href="[data-tab-panel-1]">Images</a></li>
                                                <li class=""><a href="[data-tab-panel-2]">NetWork</a></li>
                                            </ul>
                                            <div class="am-tabs-bd">
                                                <div data-tab-panel-0 class="am-tab-panel am-active">
                                                    <div class="row">

                                                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                            <div class="widget am-cf">
                                                                <div class="widget-head am-cf">
                                                                    <div class="widget-title am-fl">Fuck</div>
                                                                    <div class="widget-function am-fr">
                                                                        <a href="javascript:;" class="am-icon-cog"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-body  widget-body-lg am-fr">

                                                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                                                        <thead>
                                                                        <tr>
                                                                            <th width="10%">ID</th>
                                                                            <th width="10%">ContainerName</th>
                                                                            <th width="10%">ImageName</th>
                                                                            <th width="10%">Port</th>
                                                                            <th width="10%">Mount</th>
                                                                            <th width="10%">Network</th>
                                                                            <th width="40%">CreateTime</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {{range .Container}}
                                                                        <tr class="gradeX">


                                                                            <td width="10%">{{.ID}}</td>
                                                                            <td width="10%">{{.Names}}</td>
                                                                            <td width="10%">{{.Image}}</td>
                                                                            <td width="10%">{{.Ports}}</td>
                                                                            <td width="10%">{{.Mounts}}</td>
                                                                            <td width="10%">{{.HostConfig.NetworkMode}}</td>
                                                                            <td width="40%">20180212</td>
                                                                            <td>
                                                                                <div class="tpl-table-black-operation">
                                                                                    <a href="javascript:;">
                                                                                        <i class="am-icon-pencil"></i> 编辑
                                                                                    </a>
                                                                                    <a href="javascript:;" class="tpl-table-black-operation-del">
                                                                                        <i class="am-icon-trash"></i> 删除
                                                                                    </a>
                                                                                </div>
                                                                            </td>




                                                                        </tr>
                                                                        {{end}}

                                                                        <!-- more data -->
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>




                                                    </div>

                                                </div>
                                                <div data-tab-panel-1 class="am-tab-panel ">

                                                    <div class="row">

                                                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                            <div class="widget am-cf">
                                                                <div class="widget-head am-cf">
                                                                    <div class="widget-title am-fl">Fuck</div>
                                                                    <div class="widget-function am-fr">
                                                                        <a href="javascript:;" class="am-icon-cog"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-body  widget-body-lg am-fr">

                                                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                                                        <thead>
                                                                        <tr>
                                                                            <th width="10%">ID</th>
                                                                            <th width="10%">ImageName</th>
                                                                            <th width="10%">Size</th>
                                                                            <th width="40%">CreateTime</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {{range .Image}}
                                                                        <tr class="gradeX">


                                                                            <td width="10%">{{.ID}}</td>
                                                                            <td width="10%">{{.RepoTags}}</td>
                                                                            <td width="10%">{{.Size}}</td>
                                                                            <td width="40%">20180212</td>
                                                                            <td>
                                                                                <div class="tpl-table-black-operation">
                                                                                    <a href="javascript:;">
                                                                                        <i class="am-icon-pencil"></i> 编辑
                                                                                    </a>
                                                                                    <a href="javascript:;" class="tpl-table-black-operation-del">
                                                                                        <i class="am-icon-trash"></i> 删除
                                                                                    </a>
                                                                                </div>
                                                                            </td>




                                                                        </tr>
                                                                        {{end}}

                                                                        <!-- more data -->
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>




                                                    </div>


                                                </div>
                                                <div data-tab-panel-2 class="am-tab-panel ">


                                                    <div class="row">

                                                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                                            <div class="widget am-cf">
                                                                <div class="widget-head am-cf">
                                                                    <div class="widget-title am-fl">Fuck</div>
                                                                    <div class="widget-function am-fr">
                                                                        <a href="javascript:;" class="am-icon-cog"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-body  widget-body-lg am-fr">

                                                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                                                        <thead>
                                                                        <tr>
                                                                            <th width="10%">ID</th>
                                                                            <th width="10%">Name</th>
                                                                            <th width="10%">Driver</th>
                                                                            <th width="40%">Scope</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {{range .NetworkMode}}
                                                                        <tr class="gradeX">


                                                                            <td width="10%">{{.ID}}</td>
                                                                            <td width="10%">{{.Name}}</td>
                                                                            <td width="10%">{{.Driver}}</td>
                                                                            <td width="40%">{{.Scope}}</td>
                                                                            <td>
                                                                                <div class="tpl-table-black-operation">
                                                                                    <a href="javascript:;">
                                                                                        <i class="am-icon-pencil"></i> 编辑
                                                                                    </a>
                                                                                    <a href="javascript:;" class="tpl-table-black-operation-del">
                                                                                        <i class="am-icon-trash"></i> 删除
                                                                                    </a>
                                                                                </div>
                                                                            </td>




                                                                        </tr>
                                                                        {{end}}

                                                                        <!-- more data -->
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>

                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <script src="../static/assets/js/amazeui.min.js"></script>
        <script src="../static/assets/js/amazeui.datatables.min.js"></script>
        <script src="../static/assets/js/dataTables.responsive.min.js"></script>
        <script src="../static/assets/js/app.js"></script>

        </body>

        </html>